
.overview-available-line {
  stroke: blue;
  fill: blue;
  fill-opacity: 0.2;
}

rect.overview-available-line.vis-point {
  stroke-width: 0px;
  fill: none;
}

rect.overview-required-line.vis-point {
  stroke-width: 0px;
  fill: none;
}

.overview-required-line {
  stroke: black;
  fill: none;
}

#RAVIControlsDiv {
  margin-top: 1em;
}

.filter-option {
  background-color: grey;
  color: white;
}

.item-fte-01 {
  height: 1.4ex;
}

.item-fte-12 {
  height: 2ex;
}

.item-fte-24 {
  height: 4ex;
}

.item-fte-46 {
  height: 6ex;
}

.item-fte-68 {
  height: 9ex;
}

.item-fte-80 {
  height: 12ex;
}

.log-old {
  font-weight: bolder;
  text-decoration: line-through
}

.log-new {
  font-weight: bolder;
}
